description = "Pentaskin Forum Layout"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    {% partial "_addons/meta" %}
    <!-- Cascading Style Sheets -->
    {% partial "_addons/css" %}
  </head>
  <body class="lt-theme-{{ this.theme.config.code }} lt-layout-{{ this.layout.id }} lt-page-{{ this.page.id }}">
    <div id="lt-page-surround">
      <section id="lt-navigation" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-row row">
            <div class="lt-content">
              {% partial "_/navigation" %}
            </div>
          </div>
        </div>
      </section>

      <section id="lt-mainpage" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-mainpage-content">
            <div class="lt-row row">
              <div class="lt-col col s12">
                {% page %}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="lt-footer" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-footer-content">
            {% partial "_/footer" %}
          </div>
        </div>
      </section>

      <section id="lt-copyright" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-copyright-content">
            {% partial "_/copyright" %}
          </div>
        </div>
      </section>
    </div>
    <!-- JavaScript -->
    {% partial "_addons/js" %}
  </body>
</html>
